<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="WeatherController">
    <div class="container">
        <h1>Прогноз погоды</h1>
        <form ng-submit="getWeather()">
            <input type="text" ng-model="city" placeholder="Введите город" required autocomplete="off">
            <button type="submit">Показать погоду</button>
        </form>
        <div class="weather-info" ng-if="weather">
            <h2>{{ city }}</h2>
            <p>
                Температура: {{ formatTemperature(weather.main.temp) }} <br>
                Облачность: {{ weather.weather[0].description }} <br>
                <img ng-src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png" alt="Weather icon" class="weather-icon">
            </p>
        </div>
        <div class="forecast" ng-if="forecast.length">
            <h3>Прогноз на следующие сутки:</h3>
            <div class="forecast-scroll">
                <div class="forecast-item" ng-repeat="item in forecast">
                    <div class="forecast-card">
                        <p>{{ item.dt * 1000 | date:'HH:mm' }}</p>
                        <img ng-src="http://openweathermap.org/img/wn/{{ item.weather[0].icon }}@2x.png" alt="Weather icon" class="weather-icon-inline">
                        <p>{{ formatTemperature(item.main.temp) }}</p>
                        <p>{{ item.weather[0].description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
