body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    box-sizing: border-box;
    padding: 20px;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    position: relative;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: calc(100% - 22px);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.weather-icon-inline {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.forecast {
    margin-top: 20px;
}

.forecast-scroll {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px 0;
}

.forecast-item {
    flex: 0 0 auto;
}

.forecast-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background: #f9f9f9;
    text-align: center;
    width: 100px;
    min-height: 190px; /* минимальная высота для карточки */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.forecast-card p {
    margin: 5px 0;
    font-size: 14px;
}

@media (min-width: 600px) {
    .container {
        width: 400px;
    }
}
